/* Styles for the hero section */
.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px dotted #ccc;
    border-radius: 10%;
    height: 100%;
}

.icon-container {
    font-size: 3rem;
    color: teal;
    margin: 0 auto;
    height: 80px;
}

.icon-container img {
    width: 70px;
    height: 100%;
}

.logo {
    max-width: 150px;
    margin: 0 auto;
}

.header {
    font-size: 2rem;
    color: #000 !important;
}

.description {
    font-size: 0.8rem;
    color: #666;
}

.button-container {
    margin-top: auto;
    /* Push button to the bottom */
}


/* Ensure proper spacing in each column */
@media (min-width: 992px) {
    .col-lg-4 {
        padding: 0 15px;
    }
}