/* Styles for the hero section */
.hero-section {
    background-color: #fff;
    border-radius: 10px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px dotted #ccc;
    border-radius: 10%;
    height: 100%;
}

.icon-container {
    font-size: 3rem;
    color: #863552;
    margin: 0 auto;
}

.logo {
    max-width: 150px;
    margin: 0 auto;
}

/* Styles for the hero section */
.hero-section {
    background-color: #fff;
    border-radius: 10px;
}

.icon-container {
    font-size: 3rem;
    color: #863552;
    margin: 0 auto;
}

.subheader {
    font-size: 0.8rem;
    color: #666;
}

.header {
    font-size: 2rem;
    color: #863552;
}

.description {
    font-size: 0.8rem;
    color: #666;
}

.button-container {
    margin-top: auto;
    /* Push button to the bottom */
}


.btn-primary {
    background-color: #863552;
    border-color: #863552;
}

.btn-primary:hover {
    background-color: #6b0438;
    border-color: #6b0438;
}

/* Ensure proper spacing in each column */
@media (min-width: 992px) {
    .col-lg-4 {
        padding: 0 15px;
    }
}