/* Ensure the container takes full width */
.solutions-list {
    background: #fff;
}

/* Add your CSS styles */
.solutions .nav-container {
    background-color: #f8f9fa;
    /* Light background for navigation */
}

.solutions .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000 !important;
}

.solutions .nav-link:hover {
    border-right: 1rem solid #d36c1f;
    margin-right: -.5rem;
}

.solutions .nav-link:hover {
    background-color: #d5d9dbc9;
}