.services-list {
    /* Add your component styles here */
}

.services-list .nav-link.active {
    background-color: #d5d9dbc9;
    border-right: 1rem solid #d36c1f;
    margin-right: -.5rem;
}

.services-list .nav-link:hover {
    background-color: #d5d9dbc9;
}