/* Custom styles for the navbar */
.navbar {
  background-color: #13020a61;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 9999;
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: #fff;
  color: #1c1b1b;
  border: 1px dotted #6b0438;
}

.navbar-brand {
  display: inline-block;
  width: 200px;
  height: 59px;
  background: url('/src/assets/images/dhr-logo-white.png') center / cover no-repeat;
}

.navbar.scrolled .navbar-brand {
  background: url('/src/assets/images/dhr-logo-black.png') center / cover no-repeat;
}

.nav-link {
  color: #fff;
}

.navbar.scrolled .nav-link {
  color: #000;
}

.dropdown-item {
  color: #807f7f !important;
  transition: opacity 0.2s ease-in-out;
}

/* Adjust dropdown menu styles */
.dropdown-menu {
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #6b0438;
  color: #fff !important;
}

.btn-light {
  background-color: #f8f9fa;
  border-color: #8b0548;
}

.btn-light:hover {
  background-color: #e2e6ea;
}