/* Custom styles for the navbar */
.navbar {
  background-color: #fff;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 9999;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc;
}

.navbar.scrolled {
  background-color: #fff;
  color: #1c1b1b;
  border: 1px dotted #6b0438;
}

.navbar-brand {
  display: inline-block;
  width: 200px;
  height: 59px;
  background: url('/src/assets/images/dhr-logo-black.png') center / cover no-repeat;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #000;
}

.navbar.scrolled .nav-link {
  color: #000;
}

.dropdown-item {
  transition: opacity 0.2s ease-in-out;
}


.dropdown-item:hover {
  background-color: #d36c1f;
  color: #fff !important;
}