/* Ensure the container takes full width */
.solutions-list {
    background: #fff;
}

/* Add your CSS styles */
.solutions .nav-container {
    background-color: #f8f9fa;
    /* Light background for navigation */
}

.solutions .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000 !important;
}

.solutions-list .main-content-top {
    background: url("/assets/images/hero/hero-orange.png");
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.solutions-list .main-content-top .bcpage-section {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    /* background-color: #008080a3;*/
}

.solutions .nav-link:hover {
    background-color: #d5d9dbc9;
}

.solutions .solutions-link-icon svg {
    width: 2rem;
    height: 2rem;
    color: #d36c1f;
}

@media (max-width: 992px) {
    .solutions .nav-link.active {
        background-color: #d5d9dbc9;
        border-bottom: 1rem solid #d36c1f;
        margin-bottom: -.5rem;
    }
}

@media (min-width: 992px) {
    .solutions .nav-link.active {
        background-color: #d5d9dbc9;
        border-right: 1rem solid #d36c1f;
        margin-right: -.5rem;
    }
}